* text=auto
*.cs text eol=lf
*.md text eol=lf
*.shader text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.meta text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.ogg binary
*.wav binary
